{% extends "base.html" %}  
{% block content %}
<div class="container col-xl-10 col-xxl-8 px-4 py-5">
    <div class="position-absolute top-0 start-0 pt-3 ms-3">
        <a class="btn btn-light" href="/login" role="button">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-house mb-1" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M2 13.5V7h1v6.5a.5.5 0 0 0 .5.5h9a.5.5 0 0 0 .5-.5V7h1v6.5a1.5 1.5 0 0 1-1.5 1.5h-9A1.5 1.5 0 0 1 2 13.5zm11-11V6l-2-2V2.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5z"/>
                <path fill-rule="evenodd" d="M7.293 1.5a1 1 0 0 1 1.414 0l6.647 6.646a.5.5 0 0 1-.708.708L8 2.207 1.354 8.854a.5.5 0 1 1-.708-.708L7.293 1.5z"/>
            </svg>
            Home
        </a>
    </div>
    <div class="row align-items-center g-lg-5 py-5">
        <div class="col-lg-7 text-center text-lg-start textstart">
            <h1 class="display-4 fw-bold lh-1 mb-3">About us</h1>
            <p class="col-lg-10 fs-4">We are five information architecture students from Malmö university. We are creative, ambitious and our goal is to serve our community, that's why we created the ThankYou application. Gratitude helps people feel more positive emotions, relish good experiences, improve their health, deal with adversity, and build strong relationships.. Therefore ThankYou, your own digital gratitude journal will help you put it down in words.</p>
        </div>
        <div class="col-md-10 text-center mx-auto col-lg-5">
            <img src="https://media.istockphoto.com/vectors/happy-young-women-are-standing-together-a-group-of-5-girls-a-female-vector-id1184559107" class="rounded float-end" width="400" height="400" alt="">
        </div>
    <div>
</div>
{% endblock %}
