<!-- This is the base template -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %} ThankYou {% endblock %}</title>
    <!-- CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" type="text/css">
</head>

<body>
    <!-- Navigation -->
    <div class="navbar">
        {% if current_user.is_authenticated %} <!--If user is logged in, show home and logout-->
        <a href="/">Home</a>
        <a href="/logout">Logout</a>
        {% else %} <!--If user is not logged in, show login and sign-up-->
        <a href="/login">Login</a>
        <a href="/sign-up">Sign up</a>
        {% endif %}
        <div class="dropdown">
        <button class="dropbtn">Dropdown 
            <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
            <a href="#">Link 1</a>
            <a href="#">Link 2</a>
            <a href="#">Link 3</a>
        </div>
        </div> 
    </div>
    <h1>Grid Layout</h1>

    <p>This grid layout contains six columns and three rows:</p>
    
    <div class="grid-container">
      <div class="item1">Header</div>
      <div class="item2">Main</div>  
      <div class="item3">Right</div>
      <div class="item4">Footer</div>
    </div>
    <!-- Error messages -->
    {% with messages = get_flashed_messages(with_categories=true) %}

    {% if messages %}
        {% for category, message in messages %}
            {% if category == 'error' %}
                {{message}}
            {% else %}
                {{message}}
            {% endif %}
        {% endfor %}
    {% endif %}

    {% endwith %}

    <!-- Empty container -->
    <div class="container">
        {% block content %}
        
        {% endblock %}
    </div>

</body>

</html>