<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %} Home {% endblock %}</title>
    <!--CSS-->
    <link rel="stylesheet" href="#" type="text/css">
</head>

<!--test-->
<body>
    <nav>
        <a href="/login">Login</a>
        <a href="/sign-up">Sign up</a>
        <a href="/logout">Logout</a>
        <a href="/">Home</a>
    </nav>

    {% with messages = get_flashed_messages(with_categories=true) %}

    {% if messages %}
        {% for category, message in messages %}
            {% if category == 'error' %}
                {{message}}
            {% else %}
                {{message}}
            {% endif %}
        {% endfor %}
    {% endif %}

    {% endwith %}

    <div class="container">
        {% block content %}
        
        {% endblock %}
    </div>


</body>

<!--{{ url_for('static', filename='index.js') }} LOADING FILES FROM STATIC FOLDER-->
</html>