{% extends "base.html" %}

{% block title %} Sign up {% endblock %} 

{% block content %}


<div class="grid">
  <div id="posts">
    <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner"></div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>
  <div id="container" class="calendar-container"></div>
</div>

  <script src="https://code.jquery.com/jquery-2.2.4.min.js"
    integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
  <script src="./static/jquery.simple-calendar.js"></script>
  <script>
    function formatDate(date) {
      /*
        Funktion som tar ett datum (JS-objekt) och 
        returnar datum i formatet yyyy-mm-dd
      */
      var d = new Date(date),
        month = '' + (d.getMonth() + 1),
        day = '' + d.getDate(),
        year = d.getFullYear();

      if (month.length < 2)
        month = '0' + month;
      if (day.length < 2)
        day = '0' + day;

      return [year, month, day].join('-');
    }

    // Väntar tills sidan har laddats klart (tills hela DOM-trädet är konstruerat)
    $(document).ready(function () {

      // Skickar ett ajax-anrop till adressen "/calendar-events" (där alla poster för inloggad användare returneras i JSON)
      $.ajax({
        url: "/calendar-events"
      }).done(function (data) {
        // Allt fungerar bra, vi fick ett svar från URL som sparas i parametern "data"

        // Läser in listan med poster och gör om det till datastrukturer (lista med objekt)
        const posts = JSON.parse(data);

        // Bygger vår kalender (simple-calendar)
        $("#container").simpleCalendar({
          events: posts, // Alla poster som ska visas i kalendern (det blir en "prick" för varje datum en post finns)
          onDateSelect: function (date, events) {
            // När vi klickat på ett datum i kalendern, hämta alla inlägg det valda datumet
            $.ajax({
              url: "/calendar-events-by-date/"+formatDate(date)
            }).done(function(data) {
              const posts = JSON.parse(data);
              
              // Tar bort alla barn (tömmer div-elementet) på ev. poster
              $(".carousel-inner").empty();

              // forEach (alltså för varje objekt (post) i listan) skriv ut posten på sidan
              posts.forEach(function(post, index) {
                // post => Själva posten
                // index => platsen i listan som vi är på (i vår forEach-loop)
                console.log(post)
                // Letar upp elementet med id:t "posts" och lägger till en sträng med element

                if (post.image && post.summary) {
                  $(".carousel-inner").append(`
                    <div class="carousel-item">
                      <img src="${post.image}" alt="Tillhörande bild till inlägget" width="600em" height="600em">
                      <div class="carousel-caption">
                        <h5>${post.summary}</h5>
                      </div>
                    </div>
                ` );
                } else if(post.image) {
                  $(".carousel-inner").append(`
                    <div class="carousel-item">
                      <img src="${post.image}" alt="Tillhörande bild till inlägget" width="600em" height="600em">
                    </div>
                ` );
                } else {
                  $(".carousel-inner").append(`
                    <div class="carousel-item">
                      <img src="https://www.yogafordig.nu/wp-content/uploads/2019/10/Mindfulness-4-583x437.jpeg" alt="Tillhörande bild till inlägget" width="600em" height="600em">
                      <div class="carousel-caption">
                        <h5>${post.summary}</h5>
                      </div>
                    </div>
                ` );
                }

                if (index === 0)
                  $(".carousel-item").addClass('active')
              });
            });

          }
        });
      }).fail(function(error) {
        console.log(error);
      });
    });
  </script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>

  {% endblock %}