{% extends "base.html" %}
{% block title %} Edit profile {% endblock %}


{% block content %}
  <div class="container mt-5 changeprofile">
    <form class="p-4 p-md-5 border rounded-3 bg-light" id="log-in" action="/save_edit" method="POST">
      <div class="form-floating mb-3">
        <input type="text" name="fname" class="form-control" id="inputFname" value="{{ user.first_name }}">
        <label for="fname">Username</label>
      </div>
      <div class="form-floating mb-3">
        <input type="email" name="cemail" class="form-control" id="email" value="{{ user.email }}">
        <label for="cemail">Email adress</label>
      </div>
      <div class="form-floating mb-3">
        <input type="password" name="cpassword" class="form-control" id="inputPassword" placeholder="Password">
        <label for="cpassword">Password</label>
      </div>
      <button class="w-100 btn btn-lg btn-primary profile-button">Save profile settings</button>
    </form>
</div>

{% endblock %}