{% extends "base.html" %}

{% block title %} Home {% endblock %}

{% block content %}

            <!-- Navigation -->
            <div class="navbar">
                <a href='/'>Home</a>
                <a href='/logout'>Logout</a>
                <a href='/profile'>Profile</a>
                <a href='/calendar'>Calendar</a>
                <div class="dropdown">
                    <button class="dropbtn">Dropdown 
                        <i class="fa fa-caret-down"></i>
                    </button>
                    <div class="dropdown-content">
                        <a href="#">Link 1</a>
                        <a href="#">Link 2</a>
                        <a href="#">Link 3</a>
                    </div>
                </div> 
            </div>

<h1>This is the home page!</h1>   

<h2>Notes</h2>

<!--print column date and data from table Note. Get the values from view.py-->
<ul id='notes'>
    {% for notes in note %}
    <li>{{ notes.date }} {{notes.data }}</li>
    {% endfor %}
</ul>

<ul id='notes'>
    {% for test_notes in test_note %}
    <li>{{ test_notes.date }} {{test_notes.data }}</li>
    {% endfor %}
</ul>

<form method="POST">
    <textarea name="note" id="note" cols="30" rows="10"></textarea>
    <br>
    
    <input type="submit" value="Save note">
</form>

<h3>{{quote}}</h3>
{% endblock %}