{% extends "base.html" %}

{% block title %} Home {% endblock %}

{% block content %}
<h1>This is the home page!</h1>   

<h2>Notes</h2>

<!--print column date and data from table Note. Get the values from view.py-->
<ul id='notes'>
    {% for notes in note %}
    <li>{{ notes.date }}</li>
    <li>{{ notes.data }}</li>
    {% endfor %}
</ul>

<form method="POST">
    <textarea name="note" id="note" cols="30" rows="10"></textarea>
    <br>
    <input type="submit" value="Save note">
</form>

{% endblock %}