{% extends "base.html" %}  <!-- Get base template -->

{% block title %} Login {% endblock %} <!-- Page title -->


{% block content %}
<h1>This is the login page!</h1> <!-- Page heading -->

<h3>Login</h3>
<form method="POST"> <!-- Form for login -->
    <!-- Email -->
    <label for="email">Email:</label><br>
    <input type="email" name="email" id="email" placeholder="Enter your email..."><br>
    <!-- Password -->
    <label for="password">Password:</label><br>
    <input type="password" name="password" id="password" placeholder="Enter your password..."><br>

    <input type="submit" name="#" id="#" value="Submit">
</form>

{% endblock %}





