{% extends "base.html" %}
{% set active_page = "profile" %}

{% block content %}

<div class="container-fluid mt-5 changeprofile">
  <div class="row justify-content-center">
    <div class="col col-10 col-sm-8 col-md-6 col-lg-5 col-xl-4 col-xxl-3">

      <form class="p-4 p-md-5 border rounded-3 bg-light" id="log-in" action="/save_edit" method="POST">
        <img class="img-fluid profile-heart" src="../static/styles/heart_logo.svg" alt="heartlogo">
        <figure class="text-center">
          <h1 class="display-6">Edit your profile</h1>
        </figure>
        {% with messages = get_flashed_messages(with_categories=true) %}
              {% if messages %}
                  {% for category, message in messages %}
                      
                      {% if category == 'error' %}
                      <div class="alert alert-danger alert-dismissible fade show" role="alert">
                          {{message}}
                          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                      </div>
                      {% else %}
                      <div class="alert alert-success alert-dismissible fade show" role="alert">
                          {{message}}
                          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                      </div>
                      {% endif %}
                  {% endfor %}
              {% endif %}
              {% endwith %}
        <div class="form-floating mb-3">
          <input type="text" name="fname" class="form-control" id="inputFname" value="{{ user.first_name }}">
          <label for="fname">Edit username</label>
        </div>
        <div class="form-floating mb-3">
          <input type="email" name="cemail" class="form-control" id="email" value="{{ user.email }}">
          <label for="cemail">Edit email adress</label>
        </div>
  
        <p class="h6">
          <a data-bs-toggle="modal" data-bs-target="#exampleModal" href="#" class="password-center">Change password</a>
        </p>
        
        <button class="w-100 btn btn-lg btn-primary profile-button">Save profile settings</button>
      </form>
  
      <!-- Modal -->
      <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title display-6" id="exampleModalLabel">Change your password</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <form action="/save_passsword" method="POST">
                <div class="form-floating mb-3">
                  <input type="password" name="new_password" class="form-control" id="inputPassword" placeholder="enter your new password">
                  <label for="new_password">New password</label>
                </div>
                <div class="form-floating mb-3">
                  <input type="password" name="confirm_password" class="form-control" id="inputPassword" placeholder="enter your new password">
                  <label for="confirm_password">Confirm new password</label>
                </div>
                  <button class="btn btn-secondary profile-button" data-bs-dismiss="modal">Close</button>
                  <button class="btn btn-primary profile-button">Save changes</button>
            </form>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>

{% endblock %}