body {
    background: linear-gradient(165deg, #ffe9e6 50%, #fff 50%) no-repeat;
}

.home {
    margin-top: 100px;
}

.navbar {
    background-color: #ffffff !important;
    box-shadow: 0 1px 60px 2px rgba(0,0,0,0.25);
}

#navlogo {
    height: 50px;
    padding-right: 10px;
}

.primarybutton {
    margin-bottom: 10px;
    background-color: #fc8cc4;
    border: #ced4da;
}

.primarybutton:hover {
    background-color: #ff5cad;
    border: #ced4da;
}

.secondarybutton {
    color: #fecfc7;
    background-color: #f8f9fa;
    border-color: #fecfc7;
    font-size: 14px;
}

.secondarybutton:hover {
    background-color: #ffb3a6;
    color: white;
    border: #ced4da;
    font-size: 14px;
}


.ps-3 {
    padding-left: 0px !important;
}

#file1, #file2, #file3 {
    display: block;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: white;
    color: grey;
    text-align: center;
}

.footer p {
    margin-bottom: 0px;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 20px;
  }
  
  .grid > #posts {
    background-color:rgb(245, 243, 243);
    padding: 20px;
    text-align: center;
    margin-top: 5px;
  }
  .grid > #posts > small {
    display: block;
  }
