body {
    background: linear-gradient(165deg, #ffe9e6 50%, #fff 50%) no-repeat;
}

.home {
    margin-top: 100px;
}

/*NAVIGATION*/

.navbar {
    background-color: #ffffff !important;
    box-shadow: 0 1px 60px 2px rgba(0,0,0,0.25);
}

#navlogo {
    height: 50px;
    padding-right: 10px;
}

.ps-3 {
    padding-left: 0px !important;
}

#file1, #file2, #file3 {
    display: block;
}

/*FOOTER*/

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: white;
    color: grey;
    text-align: center;
}

.footer p {
    margin-bottom: 0px;
}

/*LOGIN*/

.login-container {
    height: 100px;
}

#log-in-background {
    background-color: blue;
}

/*Validate password in SIGN-UP*/

#message {
  display: none;
  color: #000;
  position: relative;
  opacity: 0.5;
  padding-bottom: 15px;
}

#message h3 {
  font-size: 0.875em;
}

#message i {
  font-size: 0.875em;
  display: inline;
}

/* Add a green text color when the requirements are right */
.valid {
  color: green;
}

.valid:before {
  position: relative;
  left: -35px;
}

/* Add a red text color when the requirements are wrong */
.invalid {
  color: red;
}

.invalid:before {
  position: relative;
  left: -35px;
}
